BASE_URL="http://localhost:8080"
VITE_APP_TITLE="ARQUIGRAFIA"
VITE_APP_BASE_REQUEST_URL="http://localhost:8000"
VITE_APP_GRANT_TYPE=""
VITE_APP_CLIENT_ID=""
VITE_APP_CLIENT_SECRET=""
VITE_APP_SCOPE="*"